[user]
	name = David Rogers
	email = david@ethos-development.com
[github]
	user = al-the-x
	token = df0af630d2c749b147fbb0b250b55fe4
[color]
	ui = true
[core]
    excludesfile = ~/.gitignore
[alias]
    alias = !sh -c '[[ $1 && $2 ]] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | grep -v '^alias' | sed -E -e 's/\\s/ = /'
    st = status
	br = branch
	co = checkout
