## Any kind of history files: .bash_history, .mysql_history, etc.
.*history
.*hst

## Any subdirectory of $HOME
/[A-Z]*

## Most hidden directories...
/.*/

## State files...
.viminfo
.nviminfo
.zcompdump*

## Log files...
.?*log

## Might have passwords / tokens...
.netrc
.gist
