## Any kind of history files: .bash_history, .mysql_history, etc.
.*history
.*hst

## Any subdirectory of $HOME
/[A-Z]*

## Most hidden directories...
/.*/

## Random info files...
.viminfo
.zcompdump*
