###
 # My personal preference is to type less, so many of my config options involve
 # making git smarter about my default choices and aliasing lengthy, oft-used
 # commands with shorter, more mnemonic ones. I'm lazy, what can I say...
 #
 # @author David Rogers <al.the.x@gmail.com>
 ##
[user]
    ## Default identification... Remember to change this for work projects!
    name = David Rogers
    email = al.the.x@gmail.com
[core]
    ## Use a global excludesfile for ignore patterns across repos...
    excludesfile = ~/.gitexcludes
[color]
	ui = always
[alias]
    ## Show all configured aliases...
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | grep -v '^alias' | sed -E -e 's/\\s/ = /'

    ## Much more descriptive, IMO...
    squash = rebase -i --autosquash

    ## Easier to type...
	st = status -suno
    br = branch
    co = checkout
    sq = !git squash

    ## Similar to the `lola` aliases out there, but more mnemonic for me:
    ll = !LESS=$LESS'S' git log --oneline --graph --decorate
    la = !LESS=$LESS'S' git log --oneline --graph --decorate --all

    ## Like "git superpull" but less to type...
    pulls = !git pull $@ && git submodule update --init
	retire = "!f() { [ \"$#\" = \"2\" ] || echo \"usage: git retire <remote> <branch>\" && exit 1; echo \"git br -d $2 && git push --delete $1 $2\"; }; f"
[merge]
    ## No moar merge bubbles, plz. Kthxbai!

    ## So `git merge` works with the upstream branch by default...
    defaultToUpstream = true
[github]
    user = al-the-x
[push]
	default = upstream
